.nav-container{
    background-color: rgb(24, 24, 24);
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
}

.nav-container ul{
    list-style-type: none;
    display: flex;
}

.user-circle-icon i{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 35px;
    cursor: pointer;
}
.nav-container ul li:hover{
    background-color: rgb(53, 53, 53);
}
.nav-container ul li:hover .sub-menu-user-circle{
    display: flex;
    flex-direction: column;
}
.nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    color: white;
}
.nav-link p{
    margin-left: 10px;
}

.ziv-logo{
    height: 50px;
    cursor: pointer;
    align-self: center
}
.sub-menu-user-circle{
    display:none ;
    text-align: center;
    align-items: center;
}
.sub-menu-user-circle ul{
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    background-color:  rgb(24, 24, 24);
   
}
.sub-menu-user-circle ul li{
    padding: 3px 18px;
    cursor: pointer;
}
.sub-menu-user-circle ul li:hover{
    background-color:  rgb(53, 53, 53);
}


@media(max-width: 515px){
    .nav-container{
        font-size: smaller;
    }
    .ziv-logo{
        height:30px;
    }
    .nav-link{
        margin: 10px 5px;
    }
    .user-circle-icon i{
        margin-left: 10px;
        margin-right: 25px;

    }
    .nav-link p {
        margin-left: 3px;
    }
}